body {
    text-align: center;
}

footer {
    background-color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.textoVerde {
    color: green;
}

.boton {
    background-color: green;
    color: green;
    text-align: left;
}